* {
    outline: none !important;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

.todoList {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.todoList li {
    margin-bottom: 20px;
}

.todoList li:last-child {
    margin-bottom: 0;
}

.todoList li button {
    margin-right: 10px;
}

.form {
    margin-top: 20px;
}

.loader {
    margin-bottom: 20px;

    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 2px solid #d1e5f3;
    border-right: 2px solid #d1e5f3;
    border-bottom: 2px solid #d1e5f3;
    border-left: 2px solid #177FC3;
    -webkit-animation: load8 .5s infinite linear;
    animation: load8 .5s infinite linear;
}

.loader, .loader:after {
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.w400 {
    width: 400px;
}

.modal {
    display: block !important;
    background-color: rgba(0, 0, 0, 0.6);
}
